<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone Mission Plan</title>
    <style>
        .light {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            display: inline-block;
            margin: 5px;
        }
        .green {
            background-color: green;
        }
        .red {
            background-color: red;
        }
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Lights Status</h1>
    <div id="lights-status">
        {% for light in lights %}
            <div class="light {% if light %}green{% else %}red{% endif %}"></div>
        {% endfor %}
    </div>

    <h1>Mapa</h1>
    <div id="map"></div>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        let map;
        let dronePath;
        let droneMarker;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: {lat: 50.284833, lng: 18.976528}
            });
            droneMarker = new google.maps.Marker({
                position: {lat: 50.284833, lng: 18.976528},
                map: map,
                title: 'Drone Location'
            });
            dronePath = new google.maps.Polyline({
                path: [{lat: 50.284833, lng: 18.976528}],
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            dronePath.setMap(map);
        }

        function updateDroneLocation(lat, lng) {
            const newLocation = {lat: lat, lng: lng};
            droneMarker.setPosition(newLocation);
            let path = dronePath.getPath();
            path.push(newLocation);
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            initMap();

            const socket = io();

            socket.on('drone_coords', function(data) {
                updateDroneLocation(data.lat, data.lng);
                map.setCenter({lat: data.lat, lng: data.lng});
            });

            socket.on('connect', function() {
                console.log("WebSocket is open now.");
            });

            socket.on('disconnect', function() {
                console.log("WebSocket is closed now.");
            });

            socket.on('connect_error', function(error) {
                console.error(`WebSocket error: ${error}`);
            });
        });
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA62LJfYEXdTbVSkeCski3RSTuPYynPW8o&callback=initMap"></script>
</body>
</html>
